---
layout: default
---
{% assign t = site.data.translations %}
{% if page.lang %}
  {% assign lang = page.lang %}
{% else %}
  {% assign lang = site.defaultlang %}
{% endif %}

<div class="blog-post">
  {% if page.previous_in_category %}
    {% if page.next_in_category %}
      <div class="col-sm-6" style="text-align:left;">
        <ul class="pagination"><li><a href="{{ page.previous_in_category.url }}">&laquo; {{ t.[lang].previous }}</a></li></ul>
      </div>
      <div class="col-sm-6" style="text-align:right;">
        <ul class="pagination"><li><a href="{{ page.next_in_category.url }}">{{ t.[lang].next }} &raquo;</a></li></ul>
      </div>
    {% else %}
      <div class="col-sm-12" style="text-align:left;">
        <ul class="pagination"><li><a href="{{ page.previous_in_category.url }}">&laquo; {{ t.[lang].previous }}</a></li></ul>
      </div>
    {% endif %}
  {% else %}
    {% if page.next_in_category %}
      <div class="col-sm-12" style="text-align:right;">
        <ul class="pagination"><li><a href="{{ page.next_in_category.url }}">{{ t.[lang].next }} &raquo;</a></li></ul>
      </div>
    {% endif %}
  {% endif %}
  <h2 class="blog-post-title">{{ page.title }}</h2>
  <p class="blog-post-meta">{{ page.date | date_to_string }} {{ t.[lang].by }} {{page.author }}<br/>
    {% capture page_url %}{{ page.url | remove: page.lang}}{% endcapture %}
    {%for post in site.posts %}
      {% capture post_url %}{{ post.url | remove: post.lang}}{% endcapture %}
      {% if post_url == page_url and post.lang != page.lang %}
        {{ t.[post.lang].read_in }} <a href="{{ post.url }}"><span class="flag-icon flag-icon-{{ post.lang }}"></span> {{ t.[post.lang].language.[post.lang] }}</a><br/>
      {% endif %}
    {% endfor %}
  </p>

  {{ content }}
  
  {% if page.previous_in_category %}
    {% if page.next_in_category %}
      <div class="col-sm-6" style="text-align:left;">
        <ul class="pagination"><li><a href="{{ page.previous_in_category.url }}">&laquo; {{ t.[lang].previous }}</a></li></ul>
      </div>
      <div class="col-sm-6" style="text-align:right;">
        <ul class="pagination"><li><a href="{{ page.next_in_category.url }}">{{ t.[lang].next }} &raquo;</a></li></ul>
      </div>
    {% else %}
      <div class="col-sm-12" style="text-align:left;">
        <ul class="pagination"><li><a href="{{ page.previous_in_category.url }}">&laquo; {{ t.[lang].previous }}</a></li></ul>
      </div>
    {% endif %}
  {% else %}
    {% if page.next_in_category %}
      <div class="col-sm-12" style="text-align:right;">
        <ul class="pagination"><li><a href="{{ page.next_in_category.url }}">{{ t.[lang].next }} &raquo;</a></li></ul>
      </div>
    {% endif %}
  {% endif %}  
</div>
