---
layout: default
---
{% assign t = site.data.translations %}
{% if page.lang %}
  {% assign lang = page.lang %}
{% else %}
  {% assign lang = site.defaultlang %}
{% endif %}

<div class="blog-post">
  <h2 class="blog-post-title">{{ page.title }}</h2>
  <p class="blog-post-meta">{{ page.date | date_to_string }} {{ t.[lang].by }} {{page.author }}<br/>
    {% capture page_url %}{{ page.url | remove: page.lang}}{% endcapture %}
    {%for post in site.posts %}
      {% capture post_url %}{{ post.url | remove: post.lang}}{% endcapture %}
      {% if post_url == page_url and post.lang != page.lang %}
        {{ t.[post.lang].read_in }} <a href="{{ post.url }}"><span class="flag-icon flag-icon-{{ post.lang }}"></span> {{ t.[post.lang].language.[post.lang] }}</a>
      {% endif %}
    {% endfor %}
  </p>

  {{ content }}

</div>
